<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <img src="read.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750" />

</body>

</html>
<!DOCTYPE html>
<html>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <style>
    body {
      font-family: "Times New Roman", Georgia, Serif;
      font-size: larger;
      background-color: #f9f8eb;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }

    #more {
      display: none;
    }

    #card {
      margin-bottom: 10px;
    }

    form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 8px #6a6680;

    }

    input,
    select,
    textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input {
      width: calc(100% - 10px);
      padding: 5px;
    }

    textarea {
      width: calc(100% - 12px);
      padding: 5px;
    }

    .item:hover p,
    .item:hover i,
    .question:hover p,
    .question label:hover,
    input:hover::placeholder {
      color: #6a6680;
    }

    .item input:hover,
    .item select:hover,
    .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 3px 0 #6a6680;
      color: #6a6680;
    }

    .item {
      position: relative;
      margin: 10px 0;
    }

    .item span {
      color: #6a6680;
    }

    .btn-block {
      margin-top: 10px;
      text-align: center;
    }

    button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #6a6680;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background: #9995ad;
    }

    #add {
      margin: 50px 20px;
    }

    .testbox {
      width: 50%;
      margin-top: 5%;
      margin-left: 20%;
    }

    h3 {
      padding: 10px;
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    h1 {
      color: black;
    }

    #add {
      display: none;
    }

    .card {
      padding: 4%;
    }

    hr {
      color: #716e80;
      margin-left: 2%;
      margin-right: 2%;
    }
  </style>
</head>

<body>
  <!-- Navbar (sit on top) -->
  <div id="card">
    <div class="w3-top">
      <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing: 4px">
        <a href="#home" class="w3-bar-item w3-button">
          <%=userName %>
        </a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">

          <a class="w3-bar-item w3-button" onclick="addForm()"> Add Articles</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= message%>
  </div>

  <div class="add" id="add">

    <h3>Add your article</h3>
    <form action="/add/<%= articleId%> " method="post" enctype="application/x-www-form-urlencoded">
      <div>
        <input type="text" placeholder="head" id="head" class="head" name="head" />
      </div>


      <div>
        <textarea rows="2" cols="2" placeholder="intro" name="intro" class="intro" id="intro"></textarea>
      </div>
      <div>
        <textarea rows="5" cols="5" placeholder="content" name="content" class="content" id="content"></textarea>
      </div>

      <div>
        <button type="submit">Add</button>
      </div>
    </form>
  </div>



  <% Articles.reverse().forEach(function(art){ %>
    <div class="card">
      <img src="topic.jpg">
      <h2>
        <%= art.head %>
      </h2>
      <p>
        <%= art.introduction %><span id="dots">...</span>
          <div id="more">
            <div>
              <%= art.content %>
            </div></br>
            <form action="/comment/<%=art._id%>" method="post">
              <textarea name="cmt" id="cmt" class="cmt"></textarea>

              <button>Comment</button>
            </form>
          </div>
      </p>
      <button><a href="/viewComment/<%=art._id%>">Viwe comments</a></button>
      <button onclick="myFunction()" id="myBtn">Read more</button>

    </div>
    <hr>
    <% }); %>
      <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
          }
        }
        addForm = () => {

          var add = document.getElementById('add')
          if (add.style.display == "none") {
            add.style.display = "inline"

          }
          else {
            add.style.display = "none"
          }
        }
      </script>




</body>

</html>